<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/select2.css"/>
<link rel="stylesheet" href="css/select2-bootstrap.css"/>
<link rel="stylesheet" href="css/showLoading.css"/>
<link rel="stylesheet" href="css/jquery-ui.min.css " />
<link rel="stylesheet" href="css/w2ui.css"/>
<link rel="stylesheet" href="css/bootstrap-dialog.min.css"/>