<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/jquery-ui-min.js"></script>
<script type="text/javascript" src="js/lib/select2.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.showLoading.min.js"></script>
<script type="text/javascript" src="js/lib/datepicker_settings.js"></script>
<script type="text/javascript" src="js/lib/w2ui.js"></script>
<script type="text/javascript" src="js/lib/util-min.js"></script>
<script type="text/javascript" src="js/lib/validate.js"></script>
<script type="text/javascript" src="js/lib/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="js/tools.js"></script>