|<div class="modal" id="fullList">
|    <div class="modal-dialog  modal-lg">
|        <div class="modal-content">
|            <div class="modal-header">
|                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
|                Кнопочки
|            </div>
|            <div class="modal-body">
|                <div class="container">
|                	<div id="panel" style="width:100%;">
|					</div>
|                	<div id="ttnFullList" style="height:600px;">
|					</div>
|                </div>
|            </div>
|            <div class="modal-footer">
|                <a href="#" class="btn btn-danger" id="closeClient" data-dismiss="modal"><span
|                        class="glyphicon glyphicon-remove"></span> Закрити</a>
|                <a href="#" class="btn btn-warning" id="resetClient"><span class="glyphicon glyphicon-share-alt"></span>
|                    Оновити</a>
|            </div>
|        </div>
|    </div>
|</div>